<h1>Workstreams#show</h1>
<h2><%= @workstream.name %></h2>
<% if not @workstream.root? %>
<%= link_to "Return to parent", @workstream.parent %>
<% end %>
<% if @workstream.parent? %>
<p>Substreams:</p>
<% @workstream.children.each do |c| %>
<p><%= link_to c.name, c %></p>
<% end %>
<% end %>
