<% content_for :head do %>
<script>
  $(function() {
     $("#tgt_date").datepicker( { altField: '#tgt_date_alt', altFormat: 'yy-mm-dd'} );
  });
</script>
<% end %>

<h1>Modify a Goal</h1>
<p>You are modifying a new goal in <b><%= @workstream.name %></b></p>
<%= render partial: @new_goal %>
