<% content_for :head do %>
<script>
  $(function() {
     $("#tgt_date").datepicker( { altField: '#tgt_date_alt', altFormat: 'yy-mm-dd'} );
  });
</script>
<% end %>

<h1>Add a Goal</h1>
<p>You are adding a new goal to <b><%= @workstream.name %></b></p>
<%= render partial: @goal %>
